<div class="left">
    <div class="block-left">

<div class="bxslider">

        <div class="b-left">

            <img src="/img/photo.png" alt="foto" />
            <img src="/img/photo2.png" alt="foto" />
            <img src="/img/photo3.png" alt="foto" />
            <img src="/img/photo4.png" alt="foto" />


        </div>

    </div>

    </div>
</div>