<div class="rigth">

        <div class="block-rigth">


                <img src="/img/instag-log.jpg" alt="foto" />

                <form action="/login" method="post">

                        <input type="text" pattern=".+@globex\.com" name="email" id="enable" placeholder="Telefono, usuario, o correo electronico">
                        <input type="password" pattern="/^.{4,12}$/" name="password" id="enabl" placeholder="contrasena">

<input type="submit" id="log"  disabled="true"  value="Iniciar session">

                </form>



                <div class="lines">


                        <div class="left-line"></div>

                        <div class="or">O</div>


                        <div class="rigth-line"></div>

                </div>

                <div class="fb-login">

                        <span class="fb-log"></span>
                        <span>Iniciar session con Facebook </span>

                </div>


                <div class="forget-p">olvidaste tu contrasena?</div>

        </div>

        <div class="not-account">

                <h2>No tienes cuenta? <a href="/register">Registrate</a></h2>

        </div>

        <div class="d-apps">


                <h3>Descargar la app</h3>

                <div class="apps">

                        <span class="appstore"><img
                                        src="https://static.cdninstagram.com/rsrc.php/v3/yD/r/ZKu1RMHF20e.png"
                                        alt=""></span>

                        <span class="googleplay"><img
                                        src="https://static.cdninstagram.com/rsrc.php/v3/yT/r/0BpxdgM3WUr.png"
                                        alt=""></span>

                </div>


        </div>

</div>