<div class="suggestion">


    <div class="left-profile">
            <form action="/profile"   method="post" enctype="multipart/form-data">



    {{#if photo}}

    <img src="/assets/{{photo}}" alt="imagen"  class="photo">

    {{else}}

                <img src="/img/user.png" alt="foto">

{{/if}}

                             <input type="file" name="upPhoto" value="Cambiar"> 


        <div class="columna">
            <h4>imlatinp</h4>
            <p> juan perez</p>
        </div>
    </div>



             

             <input type="submit" class="cambiar" value="Cambiar">

</form>


</div>


<div class="suggestion-for">


    <div class="nx">


        <h5>sugerencias para ti</h5>
    </div>

    <button id="ver-todo">Ver todo</button>

</div>



<ul id="seguidor">
    <li>
        <div class="lf-profile">
        <img src="/img/hombre.jpg" width="46%" alt="foto">

        <div class="colu">
            <h4>imlatinp</h4>
            <p> juan perez</p>
        </div>


    </div>
            <h6>Seguir</h6>

    </li>

    <li>
        <div class="lf-profile">
        <img src="/img/viejo.jpg" width="46%" alt="foto">

        <div class="colu">
            <h4>imlatinp</h4>
            <p> juan perez</p>
        </div>


    </div>
            <h6>Seguir</h6>

    </li><li>
        <div class="lf-profile">
        <img src="/img/aquaman.jpg" width="46%" alt="foto">

        <div class="colu">
            <h4>imlatinp</h4>
            <p> juan perez</p>
        </div>


    </div>
            <h6>Seguir</h6>

    </li><li>
        <div class="lf-profile">
        <img src="/img/aquaman.jpg" width="46%" alt="foto">

        <div class="colu">
            <h4>imlatinp</h4>
            <p> juan perez</p>
        </div>


    </div>
            <h6>Seguir</h6>

    </li>
</ul>

<div class="pie">
    
    Información
    Ayuda
    Prensa
    API
    Empleo
    Privacidad
    Condiciones
    Ubicaciones
    Idioma
 Español

<p>
© 2022 INSTAGRAM FROM META</p>
</div>





