<div class="section">

    <div class="rigth-r">

        <div class="block-register">


            <img src="/img/instag-log.jpg" alt="foto" />


            <h4>Registrate para ver fotos y videos de tus amigos.</h4>


            <div class="fb-registe">

                <span class="fb-log"></span>
                <span>Inicia session con Facebook </span>

            </div>



            <div class="line">


                <div class="left-line"></div>

                <div class="or">O</div>


                <div class="rigth-line"></div>

            </div>

    <form action="/register" method="post">
            <input type="email" name="email" placeholder="Numero de celular o correo electronico" value="jame@hotmail.com">
            <input type="text" name="name" placeholder="Nombre completo" value="lebron james">
            <input type="text" name="userName" placeholder="Nombre de usuario" value="the king">
            <input type="password" name="password" id="" placeholder="contrasena" value="12345">


            <p>Es posible que las personas que usan nuestro servicio hayan subido tu información de contacto a
                Instagram. Más información</p>

            <p> Al registrarte, aceptas nuestras Condiciones, la Política de privacidad y la Política de cookies.</p>




            <input type="submit" id="send"  value="Registrarte">

</form>

        </div>

        <div class="not-account-r">

            <h2> tienes una cuenta? <a href="#">Iniciar sesion</a></h2>

        </div>

        <div class="d-app">

            <h3>Descargar la app</h3>

            <div class="app">

                <span class="appstore"><img src="https://static.cdninstagram.com/rsrc.php/v3/yD/r/ZKu1RMHF20e.png"
                        alt=""></span>

                <span class="googleplay"><img src="https://static.cdninstagram.com/rsrc.php/v3/yT/r/0BpxdgM3WUr.png"
                        alt=""></span>

            </div>


        </div>

    </div>

</div>



<footer>

    {{> footer}}


</footer>